# Core LangChain packages
langchain==1.2.4
langchain-core==1.2.4
langchain-community==0.2.19
langchain-text-splitters==0.3.11
langchain-huggingface==1.2.0
langchain-openai

# Hugging Face & embeddings
huggingface-hub==0.36.0
sentence-transformers

# Vector storage
faiss-cpu

# Environment variables
python-dotenv

# YouTube transcript
youtube-transcript-api

# PDF generation
reportlab

# Web frameworks
fastapi
uvicorn
streamlit

# Data validation
pydantic

# PDF generation
reportlab

# Tracing
langsmith
